.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
}
body{
  background: #000;
  color: #f5f5f7;
}

.section{
  padding-top: 170px;
}

.content{
  width: 980px;
  margin: 0 auto;
  @include tablet{
    margin-left: auto;
    margin-right: auto;
    width: 692px;  
  }
}

:lang(ko){
  word-break: keep-all;
}

// 링크 
.link_more{
  color: #2997ff;
  cursor: pointer;
  &:hover{
    text-decoration: underline;
  }
}
.link_inquiry{
  color: #2997ff;
  cursor: pointer;
  &:hover{
    text-decoration: underline;
  }
}
.link_buy{
  font-size: 12px;
  line-height: 1.33337;
  font-weight: 400;
  letter-spacing: -.01em;
  min-width: 23px;
  padding-left: 11px;
  padding-right: 11px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 12px;
  background: #0071e3;
  color: #fff;
  display: inline-block;
}
.link_copy{
  color: #2997ff;
  display: block;
  &:hover{
    text-decoration: underline;
  }
}

// 폰트
.headline-large{
  font-size:80px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 0em;
}

.headline-medium{
  font-size:56;
  font-weight: 700;
  line-height: 1.12;
}

.desc-large{
  font-size:32px;
  font-weight: 600;
  line-height: 1.2188;
}

.desc-medium{
  font-size:28px;
  font-weight: 600;
  line-height: 1.25;
}

.desc-small{
  font-size:19px;
  font-weight: 600;
  line-height: 1.52632;
  letter-spacing: .012em;
}

.title-large{
  font-size:21px;
  font-weight: 600;
  line-height: 1.2858;
  margin-bottom: 0.4em;
  z-index: 1;
  padding: 40px;
  padding-bottom: 0;
  box-sizing: border-box;

}

@include desktop{
  .headline-large{font-size:64px;}
  .headline-medium{font-size:40px;}
  .desc-large{font-size:28px;}
  .desc-medium{font-size:28px;}
}

@include mobile{
  .headline-large{font-size:48px;}
  .headline-medium{font-size:40px;}
  .desc-large{font-size:24px;}
  .title-large{font-size:19px;}

}

// 그리드
.grid{
  max-width: 1390px;
  margin-left: auto;
  margin-right: auto;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 0;
  padding-bottom: 0;
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.grid_center{
  display: flex;
  flex: 1;
  align-items: center;
}

.grid_content{
  flex-grow: 1;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.grid_item{
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 0;
  box-sizing: border-box;
  overflow: hidden;
  background-color: #151516;
  border-radius:30px;
  min-height: 700px;
}

