@charset "UTF-8";
/*반응형 화면 크기*/
/*반응형, 브라우저 크기가 767px 이하일때*/
/*반응형, 브라우저 크기가 768이상, 1023px 이하일때*/
/*반응형, 브라우저 크기가 1024px 이상일때*/
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
* { margin: 0; padding: 0; font: inherit; color: inherit; }

*, :after, :before { -webkit-box-sizing: border-box; box-sizing: border-box; -ms-flex-negative: 0; flex-shrink: 0; }

:root { -webkit-tap-highlight-color: transparent; -webkit-text-size-adjust: 100%; -moz-text-size-adjust: 100%; -ms-text-size-adjust: 100%; text-size-adjust: 100%; cursor: default; line-height: 1.5; overflow-wrap: break-word; -moz-tab-size: 4; -o-tab-size: 4; tab-size: 4; }

html, body { height: 100%; }

img, picture, video, canvas, svg { display: block; max-width: 100%; }

button { background: none; border: 0; cursor: pointer; }

a { text-decoration: none; }

table { border-collapse: collapse; border-spacing: 0; }

ul, ol { list-style: none; }

/* @세팅구역 */
body { font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", sans-serif; font-size: 14px; scroll-behavior: smooth; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; -ms-overflow-style: none; -ms-overflow-style: none; scrollbar-width: none; }

body::-webkit-scrollbar { display: none; }

.hidden, [hidden] { display: none !important; }

a { color: inherit; cursor: pointer; text-decoration: none; }

a:hover, a:focus { text-decoration: none; }

button { border: 0; background-color: transparent; cursor: pointer; }

button:disabled { cursor: not-allowed; }

select, input, textarea, button { font: inherit; -webkit-appearance: none; }

input[type='number'] { -moz-appearance: textfield; }

input:disabled { background-color: rgba(255, 255, 255, 0); cursor: not-allowed; }

select { border: 0; background-color: transparent; cursor: pointer; }

select::-ms-expand { display: none; }

input, textarea { border: 0; }

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { /* Chrome, Safari, Firefox */ color: #444; opacity: 1; }

input:-ms-input-placeholder, textarea:-ms-input-placeholder { /* Chrome, Safari, Firefox */ color: #444; opacity: 1; }

input::-ms-input-placeholder, textarea::-ms-input-placeholder { /* Chrome, Safari, Firefox */ color: #444; opacity: 1; }

input::placeholder, textarea::placeholder { /* Chrome, Safari, Firefox */ color: #444; opacity: 1; }

input:-ms-input-placeholder, textarea:-ms-input-placeholder { /* IE, Edge */ color: #444; opacity: 1; }

input[readonly]::-webkit-input-placeholder, input:disabled::-webkit-input-placeholder, textarea[readonly]::-webkit-input-placeholder, textarea:disabled::-webkit-input-placeholder { /* Chrome, Safari, Firefox */ color: rgba(0, 0, 0, 0.2); opacity: 1; }

input[readonly]:-ms-input-placeholder, input:disabled:-ms-input-placeholder, textarea[readonly]:-ms-input-placeholder, textarea:disabled:-ms-input-placeholder { /* Chrome, Safari, Firefox */ color: rgba(0, 0, 0, 0.2); opacity: 1; }

input[readonly]::-ms-input-placeholder, input:disabled::-ms-input-placeholder, textarea[readonly]::-ms-input-placeholder, textarea:disabled::-ms-input-placeholder { /* Chrome, Safari, Firefox */ color: rgba(0, 0, 0, 0.2); opacity: 1; }

input[readonly]::placeholder, input:disabled::placeholder, textarea[readonly]::placeholder, textarea:disabled::placeholder { /* Chrome, Safari, Firefox */ color: rgba(0, 0, 0, 0.2); opacity: 1; }

input[readonly]:-ms-input-placeholder, input:disabled:-ms-input-placeholder, textarea[readonly]:-ms-input-placeholder, textarea:disabled:-ms-input-placeholder { /* IE, Edge */ color: rgba(0, 0, 0, 0.2); opacity: 1; }

input::-ms-clear, input::-ms-reveal, textarea::-ms-clear, textarea::-ms-reveal { /* IE, Edge */ display: none; }

input::-webkit-inner-spin-button, input::-webkit-outer-spin-button, textarea::-webkit-inner-spin-button, textarea::-webkit-outer-spin-button { -webkit-appearance: none; }

.blind { position: absolute; width: 1px; height: 1px; overflow: hidden; clip: rect(0 0 0 0); margin: -1px; }

body { background: #000; color: #f5f5f7; }

.content { width: 980px; margin: 0 auto; }

:lang(ko) { word-break: keep-all; }

header .nav_list { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -ms-flex-line-pack: center; align-content: center; max-width: 980px; margin: 0 auto; }

header .nav_item { -webkit-box-sizing: border-box; box-sizing: border-box; display: inline-block; position: relative; height: 44px; vertical-align: top; }

header .nav_item .link_search { background-image: url(./../images/search.svg); background-size: 15px 88px; background-repeat: no-repeat; width: 15px; display: inline-block; }

header .nav_item a { font-size: 12px; font-weight: 400; line-height: 3.66667; letter-spacing: -.01em; color: #f5f5f7; position: relative; display: inline-block; padding: 0 8px; height: 44px; opacity: .8; -webkit-transition: .3s; transition: .3s; }

header .nav_item a:hover { opacity: 1; }

header .group_pdr { height: 66px; background-color: rgba(29, 29, 31, 0.72); border-bottom: 1px solid rgba(255, 255, 255, 0.24); }

header .group_pdr .pdr_inner { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; width: 100%; max-width: 980px; margin: 0 auto; padding: 0 8px; }

header .group_pdr .pdr_title { margin: 14px 0 -14px; }

header .group_pdr .title { font-size: 21px; line-height: 1.14286; font-weight: 600; letter-spacing: .011em; cursor: default; display: block; float: left; padding: 0; height: 52px; white-space: nowrap; }

header .group_pdr .sub_title { font-size: 12px; font-weight: 400; opacity: 0.55; }

header .group_pdr .pdr_menu { padding-top: 34px; font-size: 12px; }

header .group_pdr .pdr_menu a { margin-left: 24px; }

header .group_pdr .summary { opacity: 0.55; }

header .pdr_banner { font-size: 14px; padding: 16px 0px; text-align: center; background-color: rgba(29, 29, 31, 0.72); }

header .pdr_banner .link_shop { color: #2997ff; }

main { overflow: hidden; }

.sc_main_pdr .vod_wrap { width: 1400px; height: 732px; }

.sc_main_pdr video { top: 68px; display: block; width: 1400px; height: 420px; position: relative; left: 680px; margin-left: -700px; }

.sc_main_pdr .main_title { margin-top: -200px; text-align: center; }

.sc_main_pdr .main_title .title { font-size: 32px; line-height: 1.125; font-weight: 600; letter-spacing: .004em; color: #f5f5f7; }

.sc_main_pdr .main_title .sub_title { background: radial-gradient(#eff1ff, #000); background-size: 100% 200%; background-position: 50% 100%; background-clip: text; -webkit-background-clip: text; -webkit-text-fill-color: transparent; font-size: 96px; font-weight: 700; line-height: 1.04167; letter-spacing: -.015em; margin-top: 16px; padding-bottom: 12px; }

.sc_main_pdr .main_title .main_msg { max-width: 900px; font-size: 32px; line-height: 1.25; font-weight: 500; letter-spacing: .004em; color: #a1a1a6; margin: 10px auto 0; }

.sc_main_pdr .main_pdr_chip { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin: 42px 0 0 -20px; }

.sc_main_pdr .pdr_chip_picture { width: 96px; height: 96px; }

.sc_main_pdr .pdr_chip_text { font-size: 28px; line-height: 1.14286; font-weight: 500; color: #a1a1a6; letter-spacing: .007em; }

.sc_main_pdr .main_pdr_list { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; max-width: 100%; margin-top: 32px; }

.sc_main_pdr .main_pdr_item { font-size: 28px; line-height: 1.14286; letter-spacing: .007em; }

.sc_main_pdr .main_pdr_item:first-child::after { content: "|"; display: inline-block; padding: 0 30px; }

.sc_main_chip { padding-top: 170px; }

.sc_main_chip .main_chip_picture { display: block; width: 169px; height: 79px; margin-bottom: 11px; }

.sc_main_chip .sub_title { font-size: 80px; line-height: 1.05; font-weight: 700; letter-spacing: -.015em; color: #f5f5f7; }

.sc_main_chip .main_msg { width: 735px; font-size: 28px; line-height: 1.25; font-weight: 500; letter-spacing: .007em; color: #a1a1a6; margin-top: 0.8em; }

.sc_main_chip .vod_wrap { display: block; width: 1754px; height: 1056px; position: relative; left: 50%; margin-left: -877px; margin-top: -158px; z-index: -1; }

.grid { max-width: 1390px; margin-left: auto; margin-right: auto; grid-column-gap: 24px; grid-row-gap: 24px; padding-top: 0; padding-bottom: 0; display: -ms-grid; display: grid; -ms-grid-columns: (minmax(0, 1fr))[12]; grid-template-columns: repeat(12, minmax(0, 1fr)); }

.grid_item { position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; z-index: 0; -webkit-box-sizing: border-box; box-sizing: border-box; overflow: hidden; background-color: #151516; border-radius: 30px; min-height: 700px; }

.grid_center { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; }

.sc_parts { margin: -144px auto 0; }

.sc_parts .title { font-size: 21px; line-height: 1.19048; font-weight: 600; letter-spacing: .011em; padding: 40px; padding-bottom: 0; }

.sc_parts .sub_title { font-size: 80px; line-height: 1.15; font-weight: 700; letter-spacing: -.015em; }

.sc_parts .main_msg { font-size: 19px; line-height: 1.4211; font-weight: 600; letter-spacing: .012em; margin-top: 26px; }

.sc_parts .cpu_area { grid-column: span 12; overflow: hidden; background: -webkit-gradient(linear, left bottom, right top, from(#194189), color-stop(25%, #3B4980), to(#8738A7)); background: linear-gradient(to right top, #194189 0%, #3B4980 25%, #8738A7 100%); }

.sc_parts .cpu_area .text_area { padding-left: 40px; margin: 60px 0; z-index: 1; }

.sc_parts .cpu_area .sub_title { max-width: 600px; }

.sc_parts .cpu_area .main_msg { max-width: 470px; }

.sc_parts .cpu_area .cpu_picture { display: block; width: 696px; height: 553px; position: absolute; left: 50%; bottom: 28px; }

.sc_parts .cpu_area .title_point { color: #c48cfc; }

.sc_parts .gpu_area { grid-column: span 12; }

.sc_parts .gpu_area .title { z-index: 1; }

.sc_parts .gpu_area .text_area { width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; -webkit-box-align: center; -ms-flex-align: center; align-items: center; max-width: unset; padding-right: 40px; padding-left: 40px; margin: 60px 0; z-index: 1; }

.sc_parts .gpu_area .text_area .title_box1 { -ms-flex-preferred-size: 50%; flex-basis: 50%; max-width: 580px; }

.sc_parts .gpu_area .text_area .title_box2 { -ms-flex-preferred-size: 50%; flex-basis: 50%; width: 50%; margin-left: 8.33333%; -ms-flex-preferred-size: 41.66667%; flex-basis: 41.66667%; max-width: 41.66667%; }

.sc_parts .gpu_area .title_point { color: #4693ad; }

.sc_parts .gpu_area .vod_wrap { position: absolute; z-index: 0; }

.sc_parts .gpu_area video { width: 100%; height: 100%; }

.sc_parts .battery_area { grid-column: span 8; background: -webkit-gradient(linear, left top, left bottom, from(#203025), to(#151516)); background: linear-gradient(to bottom, #203025 0%, #151516 100%); }

.sc_parts .battery_area .text_area { z-index: 1; }

.sc_parts .battery_area .text_area { -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; max-width: 630px; margin: 0 auto; margin-bottom: 65px; text-align: center; }

.sc_parts .efficiency_area { grid-column: span 4; background: linear-gradient(225deg, #1623A6 0%, #3343D4 29%, #175EAC 73%, #176682 100%); }

.sc_parts .efficiency_area .text_area { padding-left: 40px; margin: 60px 0; z-index: 1; }

.sc_parts .efficiency_area .text_area { padding-left: 0; }

.sc_parts .efficiency_area .title_point { color: rgba(255, 255, 255, 0.6); }

.sc_parts .efficiency_area .link_wrap { padding: 0 40px 40px 40px; }

.sc_parts .efficiency_area .link_efficiency { display: inline-block; background-color: transparent; border-width: 2px; border-style: solid; border-radius: 100px; padding: 9px 17px; font-weight: 600; white-space: normal; font-size: 17px; }

.sc_parts .learning_area { grid-column: span 12; background: -webkit-gradient(linear, left top, left bottom, from(#061420), to(#151516)); background: linear-gradient(to bottom, #061420 0%, #151516 100%); }

.sc_parts .learning_area .text_area { margin-top: 60px; margin-bottom: 60px; margin-left: 50%; }

.sc_parts .learning_area .main_msg { padding: 0 40px; font-size: 32px; line-height: 1.21875; font-weight: 600; letter-spacing: .004em; }

.sc_parts .learning_area .title_point { color: #a1a1a6; }

.sc_parts .learning_area .learning_picture { display: block; width: 696px; height: 553px; position: absolute; right: 50%; bottom: -249px; -webkit-transform: translateY(-50%); transform: translateY(-50%); }

.sc_parts .os_area { background-color: #000; background-image: radial-gradient(at 100% 0%, rgba(46, 110, 173, 0.99) 0px, transparent 50%), radial-gradient(at 92% 64%, rgba(11, 30, 80, 0.69) 0px, transparent 50%), radial-gradient(at 35% 0%, #0c215a 0px, transparent 50%), radial-gradient(at 0% 0%, #06061d 0px, transparent 50%), radial-gradient(at 76% 0%, #061232 0px, transparent 50%), radial-gradient(at 86% 47%, #0b0f32 0px, transparent 50%), radial-gradient(at 43% 59%, #0b0f32 0px, transparent 50%), radial-gradient(at 6% 100%, #311f47 0px, transparent 50%), radial-gradient(at 42% 100%, #06061d 0px, transparent 50%), radial-gradient(at 1% 53%, #0b0f32 0px, transparent 50%), radial-gradient(at 100% 100%, #0c133b 0px, transparent 50%), radial-gradient(at 63% 100%, #1e1335 0px, transparent 50%), radial-gradient(at 20% 100%, #1e1335 0px, transparent 50%); grid-column: span 12; }

.sc_parts .os_area .text_wrap { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.sc_parts .os_area .text_area { max-width: 50%; -ms-flex-preferred-size: 50%; flex-basis: 50%; margin: 60px 0; padding-left: 40px; }

.sc_parts .os_area .sub_title { max-width: 420px; font-size: 56px; line-height: 1.07143; font-weight: 700; letter-spacing: -.028em; }

.sc_parts .os_area .main_msg { max-width: 470px; }

.sc_parts .os_area .os_picture { display: block; width: 696px; height: 553px; position: absolute; z-index: 1; left: 50%; bottom: 28px; }

.sc_parts .animate_area { grid-column: span 6; background-color: #000; background-image: radial-gradient(at 82% 30%, rgba(20, 20, 57, 0.46) 0px, transparent 50%), radial-gradient(at 100% 66%, #29183f 0px, transparent 50%), radial-gradient(at 100% 0%, #161339 0px, transparent 50%), radial-gradient(at 35% 0%, #21163b 0px, transparent 50%), radial-gradient(at 47% 59%, rgba(65, 40, 77, 0.76) 0px, transparent 50%), radial-gradient(at 1% 2%, #3b244c 0px, transparent 50%), radial-gradient(at 75% 1%, #1a1439 0px, transparent 50%), radial-gradient(at 100% 0%, #191439 0px, transparent 50%), radial-gradient(at 0% 99%, #694e6e 0px, transparent 50%), radial-gradient(at 0% 64%, rgba(103, 80, 109, 0.57) 0px, transparent 50%), radial-gradient(at 0% 24%, #694e6e 0px, transparent 50%), radial-gradient(at 100% 100%, #553c5d 0px, transparent 50%), radial-gradient(at 72% 100%, #1e1335 0px, transparent 50%), radial-gradient(at 35% 100%, #1e1335 0px, transparent 50%); }

.sc_parts .animate_area .text_area { padding: 0 40px; }

.sc_parts .animate_area .main_msg { margin-top: 0.77em; }

.sc_parts .animate_area .grid_bottom { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; }

.sc_parts .animate_area .bot_text_area { text-align: center; padding-left: 0; padding-right: 0; margin-right: auto; margin-left: auto; margin-bottom: 74px; max-width: 420px; }

.sc_parts .app_area { grid-column: span 6; background-color: #000; background-image: radial-gradient(at 82% 30%, rgba(20, 20, 57, 0.46) 0px, transparent 50%), radial-gradient(at 100% 66%, #29183e 0px, transparent 50%), radial-gradient(at 35% 0%, #0f1138 0px, transparent 50%), radial-gradient(at 100% 0%, #0f1138 0px, transparent 50%), radial-gradient(at 47% 59%, rgba(35, 20, 57, 0.77) 0px, transparent 50%), radial-gradient(at 1% 2%, #14143d 0px, transparent 50%), radial-gradient(at 74% 0%, rgba(18, 40, 104, 0.9) 0px, transparent 50%), radial-gradient(at 100% 0%, #071541 0px, transparent 50%), radial-gradient(at 0% 64%, rgba(41, 26, 60, 0.8) 0px, transparent 50%), radial-gradient(at 0% 99%, #51395b 0px, transparent 50%), radial-gradient(at 0% 24%, rgba(27, 18, 54, 0.87) 0px, transparent 50%), radial-gradient(at 100% 100%, #654d6f 0px, transparent 50%), radial-gradient(at 72% 100%, #1e1335 0px, transparent 50%), radial-gradient(at 35% 100%, #1e1335 0px, transparent 50%); }

.sc_parts .app_area .text_area { padding: 0 40px; }

.sc_parts .app_area .main_msg { margin-top: 0.77em; }

.sc_parts .app_area .grid_bottom { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; }

.sc_parts .app_area .app_picture { display: block; width: 481px; height: 388px; position: relative; left: 50%; margin-left: -240.5px; -webkit-transform: translate(-1px, 12px); transform: translate(-1px, 12px); margin-bottom: 74px; }

.sc_parts .memory_area { grid-column: span 4; }

.sc_parts .storage_area { grid-column: span 4; background: -webkit-gradient(linear, left bottom, right top, from(#604C7C), color-stop(50%, #257983), to(#20825A)); background: linear-gradient(to right top, #604C7C 0%, #257983 50%, #20825A 100%); }

.sc_parts .security_area { grid-column: span 4; }
