@charset "UTF-8";
/*반응형 화면 크기*/
/*반응형, 브라우저 크기가 734px 이하일때*/
/*반응형, 브라우저 크기가 734이상, 1068px 이하일때*/
@font-face { font-family: 'SF Pro KR'; src: url(../fonts/SFProKRDisplay_regular.woff2) format("woff2"); font-weight: 400; }

@font-face { font-family: 'SF Pro KR'; src: url(../fonts/SFProKRDisplay_medium.woff2) format("woff2"); font-weight: 500; }

@font-face { font-family: 'SF Pro KR'; src: url(../fonts/SFProKRDisplay_semibold.woff2) format("woff2"); font-weight: 600; }

@font-face { font-family: 'SF Pro KR'; src: url(../fonts/SFProKRDisplay_bold.woff2) format("woff2"); font-weight: 700; }

@font-face { font-family: 'SF Pro Text'; src: url() format("woff2"); font-weight: 400; }

@font-face { font-family: 'SF Pro Icons'; src: url() format("woff2"); font-weight: 500; }

@font-face { font-family: ''; src: url() format("woff2"); font-weight: 600; }

@font-face { font-family: ''; src: url() format("woff2"); font-weight: 700; }

* { margin: 0; padding: 0; font: inherit; color: inherit; }

*, :after, :before { -webkit-box-sizing: content-box; box-sizing: content-box; }

:root { -webkit-tap-highlight-color: transparent; -webkit-text-size-adjust: 100%; -moz-text-size-adjust: 100%; -ms-text-size-adjust: 100%; text-size-adjust: 100%; cursor: default; line-height: 1.5; overflow-wrap: break-word; -moz-tab-size: 4; -o-tab-size: 4; tab-size: 4; }

html, body { height: 100%; }

img, picture, video, canvas, svg, strong { display: block; }

button { background: none; border: 0; cursor: pointer; }

a { text-decoration: none; }

table { border-collapse: collapse; border-spacing: 0; }

ul, ol { list-style: none; }

img { width: 100%; height: 100%; }

/* @세팅구역 */
body { font-size: 14px; scroll-behavior: smooth; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; -ms-overflow-style: none; -ms-overflow-style: none; scrollbar-width: none; }

body::-webkit-scrollbar { display: none; }

.hidden, [hidden] { display: none !important; }

a { color: inherit; cursor: pointer; text-decoration: none; }

a:hover, a:focus { text-decoration: none; }

button { border: 0; background-color: transparent; cursor: pointer; }

button:disabled { cursor: not-allowed; }

select, input, textarea, button { font: inherit; -webkit-appearance: none; }

input[type='number'] { -moz-appearance: textfield; }

input:disabled { background-color: rgba(255, 255, 255, 0); cursor: not-allowed; }

select { border: 0; background-color: transparent; cursor: pointer; }

select::-ms-expand { display: none; }

input, textarea { border: 0; }

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { /* Chrome, Safari, Firefox */ color: #444; opacity: 1; }

input:-ms-input-placeholder, textarea:-ms-input-placeholder { /* Chrome, Safari, Firefox */ color: #444; opacity: 1; }

input::-ms-input-placeholder, textarea::-ms-input-placeholder { /* Chrome, Safari, Firefox */ color: #444; opacity: 1; }

input::placeholder, textarea::placeholder { /* Chrome, Safari, Firefox */ color: #444; opacity: 1; }

input:-ms-input-placeholder, textarea:-ms-input-placeholder { /* IE, Edge */ color: #444; opacity: 1; }

input[readonly]::-webkit-input-placeholder, input:disabled::-webkit-input-placeholder, textarea[readonly]::-webkit-input-placeholder, textarea:disabled::-webkit-input-placeholder { /* Chrome, Safari, Firefox */ color: rgba(0, 0, 0, 0.2); opacity: 1; }

input[readonly]:-ms-input-placeholder, input:disabled:-ms-input-placeholder, textarea[readonly]:-ms-input-placeholder, textarea:disabled:-ms-input-placeholder { /* Chrome, Safari, Firefox */ color: rgba(0, 0, 0, 0.2); opacity: 1; }

input[readonly]::-ms-input-placeholder, input:disabled::-ms-input-placeholder, textarea[readonly]::-ms-input-placeholder, textarea:disabled::-ms-input-placeholder { /* Chrome, Safari, Firefox */ color: rgba(0, 0, 0, 0.2); opacity: 1; }

input[readonly]::placeholder, input:disabled::placeholder, textarea[readonly]::placeholder, textarea:disabled::placeholder { /* Chrome, Safari, Firefox */ color: rgba(0, 0, 0, 0.2); opacity: 1; }

input[readonly]:-ms-input-placeholder, input:disabled:-ms-input-placeholder, textarea[readonly]:-ms-input-placeholder, textarea:disabled:-ms-input-placeholder { /* IE, Edge */ color: rgba(0, 0, 0, 0.2); opacity: 1; }

input::-ms-clear, input::-ms-reveal, textarea::-ms-clear, textarea::-ms-reveal { /* IE, Edge */ display: none; }

input::-webkit-inner-spin-button, input::-webkit-outer-spin-button, textarea::-webkit-inner-spin-button, textarea::-webkit-outer-spin-button { -webkit-appearance: none; }

.blind { position: absolute; width: 1px; height: 1px; overflow: hidden; clip: rect(0 0 0 0); margin: -1px; }

body { background: #000; color: #f5f5f7; font-family: 'SF Pro KR'; }

.section { padding-top: 170px; }

.content { width: 980px; margin: 0 auto; }

@media (max-width: 1068px) { .content { margin-left: auto; margin-right: auto; width: 692px; } }

:lang(ko) { word-break: keep-all; }

.link_more { color: #2997ff; cursor: pointer; }

.link_more:hover { text-decoration: underline; }

.link_inquiry { color: #2997ff; cursor: pointer; }

.link_inquiry:hover { text-decoration: underline; }

.link_buy { font-size: 12px; line-height: 1.33337; font-weight: 400; letter-spacing: -.01em; min-width: 23px; padding-left: 11px; padding-right: 11px; padding-top: 4px; padding-bottom: 4px; border-radius: 12px; background: #0071e3; color: #fff; display: inline-block; }

.link_copy { color: #2997ff; display: block; }

.link_copy:hover { text-decoration: underline; }

.sc_title { font-size: 80px; font-weight: 700; line-height: 1.15; letter-spacing: 0em; margin-top: 41px; color: #a1a1a6; }

.headline-large { font-size: 80px; font-weight: 700; line-height: 1.15; letter-spacing: 0em; }

.headline-medium-large { font-size: 64px; font-weight: 600; line-height: 1.17188; letter-spacing: 0em; }

.headline-medium { font-size: 56px; font-weight: 700; line-height: 1.2; }

.headline-small { font-size: 48px; font-weight: 700; line-height: 1.1875; }

.desc-large { font-size: 32px; font-weight: 600; line-height: 1.21875; letter-spacing: .004em; }

.desc-medium { font-size: 28px; font-weight: 500; line-height: 1.25; letter-spacing: .007em; }

.desc-medium-large { font-size: 21px; font-weight: 600; line-height: 1.2858; letter-spacing: .007em; }

.desc-small { font-size: 19px; font-weight: 600; line-height: 1.52632; letter-spacing: .012em; }

.title-large { font-size: 21px; font-weight: 600; line-height: 1.2858; margin-bottom: 0.4em; z-index: 1; padding: 40px; padding-bottom: 0; -webkit-box-sizing: border-box; box-sizing: border-box; }

@media (max-width: 1068px) { .headline-large { font-size: 64px; line-height: 1.17188; }
  .headline-medium { font-size: 40px; }
  .desc-large { font-size: 28px; }
  .desc-medium { font-size: 24px; } }

@media (max-width: 734px) { .headline-large { font-size: 48px; }
  .headline-medium { font-size: 40px; }
  .desc-large { font-size: 24px; }
  .title-large { font-size: 19px; } }

.grid { max-width: 1390px; margin-left: auto; margin-right: auto; grid-column-gap: 24px; grid-row-gap: 24px; padding-left: 24px; padding-right: 24px; padding-top: 0; padding-bottom: 0; display: -ms-grid; display: grid; -ms-grid-columns: (minmax(0, 1fr))[12]; grid-template-columns: repeat(12, minmax(0, 1fr)); }

.grid_center { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-flex: 1; -ms-flex: 1; flex: 1; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.grid_content { -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; z-index: 1; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; }

.grid_item { position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; z-index: 0; -webkit-box-sizing: border-box; box-sizing: border-box; overflow: hidden; background-color: #151516; border-radius: 30px; min-height: 700px; }

@media (max-width: 1068px) { .grid_item { min-height: 680px; } }

header .header_inner { position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

header .nav_logo { display: block; margin: 0 15px; }

header .nav_list { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -ms-flex-line-pack: center; align-content: center; max-width: 980px; margin: 0 auto; }

header .nav_item { -webkit-box-sizing: border-box; box-sizing: border-box; display: inline-block; position: relative; height: 44px; line-height: 44px; vertical-align: top; margin: 0 15px; }

header .nav_item a { font-size: 12px; font-weight: 400; line-height: 3.66667; letter-spacing: -.01em; color: #f5f5f7; position: relative; display: inline-block; padding: 0 8px; height: 44px; opacity: .8; -webkit-transition: .3s; transition: .3s; }

header .nav_item a:hover { opacity: 1; }

header .user { height: 44px; }

header .link_search { background-image: url(./../images/search.svg); background-size: 15px 88px; background-repeat: no-repeat; width: 15px; height: 44px; display: inline-block; margin: 0 15px; }

header .link_bag { background-image: url(./../images/bag.svg); background-size: 13px 44px; background-repeat: no-repeat; width: 13px; height: 44px; display: inline-block; margin: 0 15px; }

.sticky-head { position: -webkit-sticky; position: sticky; width: 100%; top: 0; left: 0; z-index: 100; -webkit-backdrop-filter: saturate(180%) blur(20px); backdrop-filter: saturate(180%) blur(20px); }

.group_pdr { height: 66px; -webkit-box-sizing: border-box; box-sizing: border-box; background-color: rgba(29, 29, 31, 0.72); border-bottom: 1px solid rgba(255, 255, 255, 0.24); }

.group_pdr .pdr_inner { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; width: 100%; max-width: 980px; margin: 0 auto; padding: 0 8px; }

.group_pdr .pdr_title { margin: 14px 0 -14px; }

.group_pdr .sub_title { font-size: 12px; font-weight: 400; opacity: 0.55; }

.group_pdr .title { font-size: 21px; line-height: 1.14286; font-weight: 600; letter-spacing: .011em; cursor: default; display: block; float: left; padding: 0; height: 52px; white-space: nowrap; }

.group_pdr .pdr_menu { padding-top: 34px; font-size: 12px; }

.group_pdr .pdr_menu a { margin-left: 24px; }

.group_pdr .pdr_menu a:hover { color: #2997ff; }

.group_pdr .pdr_menu a .link_buy:hover { opacity: .7; }

.group_pdr .summary { opacity: 0.55; }

.pdr_banner { font-size: 14px; padding: 16px 0px; text-align: center; background-color: rgba(29, 29, 31, 0.72); }

.pdr_banner .link_shop { color: #2997ff; }

#footer { background: #1d1d1f; }

#footer .footer_inner { margin: 0 auto; max-width: 980px; padding: 0 22px; -webkit-box-sizing: content-box; box-sizing: content-box; }

#footer .benefits_wrap { display: -webkit-box; display: -ms-flexbox; display: flex; text-align: center; padding-bottom: 56px; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -ms-flex-wrap: wrap; flex-wrap: wrap; font-size: 14px; line-height: 1.42859; font-weight: 400; letter-spacing: -.016em; border-bottom: 1px solid #424245; }

#footer .benefits_wrap .benefits_column { max-width: 410px; -webkit-box-flex: 1; -ms-flex: 1 25%; flex: 1 25%; margin: 0 auto; padding-top: 56px; position: relative; text-align: center; width: 216px; z-index: 1; }

#footer .benefits_wrap .benefits_column img { width: 100%; height: 56px; }

#footer .benefits_wrap .desc-small { margin-top: 0.525em; display: block; }

#footer .benefits_wrap .desc { margin-top: 0.4em; }

#footer .benefits_wrap .link_more { display: block; margin-top: 0.8em; }

#footer .benefits_wrap .link_inquiry { display: block; margin-top: 0.8em; }

#footer .reference_wrap { padding: 17px 0 11px; border-bottom: 1px solid #424245; }

#footer .reference_list { list-style-position: outside; margin: 0; padding: 0 17px; list-style: auto; }

#footer .reference_item { font-size: 12px; line-height: 1.33337; font-weight: 400; padding-bottom: 0.8em; color: #86868b; }

#footer .reference_item a { color: #d2d2d7; }

#footer .reference_item a:hover { text-decoration: underline; }

#footer .breadcrumbs_wrap { padding: 17px 0; position: relative; z-index: 1; color: #d2d2d7; }

#footer .breadcrumbs { padding-left: 25px; }

#footer .breadcrumbs a:hover { text-decoration: underline; }

#footer .breadcrumbs::after { content: ''; display: block; clear: both; }

#footer .breadcrumbs li { font-size: 12px; float: left; margin-right: 7px; padding: 3px 4px 3px 0; max-width: 100%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

#footer .breadcrumbs li::before { width: 8px; height: 36px; background-size: 8px 36px; background-repeat: no-repeat; background-image: url(./../images/footer_arrow.svg); margin-right: 11px; content: ''; display: inline-block; vertical-align: middle; margin-top: -1px; height: 18px; background-position-y: 100%; }

#footer .bread_logo { width: 14px; height: 72px; background-size: 14px 72px; background-repeat: no-repeat; background-image: url(./../images/breadcrumbs_logo.svg); height: 18px; display: block; position: absolute; top: 18px; z-index: 2; color: transparent; background-position-y: -36px; }

#footer .foot_nav_wrap { display: -webkit-box; display: -ms-flexbox; display: flex; font-size: 12px; line-height: 1.33337; font-weight: 400; letter-spacing: -.01em; -ms-flex-wrap: nowrap; flex-wrap: nowrap; }

#footer .foot_nav_box { -ms-flex-preferred-size: 20%; flex-basis: 20%; }

#footer .nav_box_bot { margin-top: 24px; }

#footer h3 { color: #f5f5f7; font-size: 12px; line-height: 1.33337; font-weight: 600; margin-right: 20px; margin-bottom: 0.8em; }

#footer .foot_nav_box li { margin-bottom: 0.8em; }

#footer .foot_nav_box li a { color: #d2d2d7; }

#footer .foot_nav_box li a:hover { text-decoration: underline; }

#footer .foot_nav_box li:last-child { margin-bottom: 0; }

#footer .corp_wrap { padding: 34px 0 21px; font-size: 12px; color: #d2d2d7; }

#footer .find_shop { margin-bottom: 7px; padding-bottom: 8px; border-bottom: 1px solid #424245; color: #86868b; }

#footer .find_shop a { color: #2997ff; }

#footer .find_shop a:hover { text-decoration: underline; }

#footer .country { float: right; margin-top: 5px; position: relative; top: -3px; z-index: 2; white-space: nowrap; }

#footer .country a:hover { text-decoration: underline; }

#footer .list_corp { position: relative; top: -3px; }

#footer .list_corp::after { content: ''; display: block; clear: both; }

#footer .list_corp li { float: left; margin-right: 7px; padding-right: 10px; margin-top: 5px; white-space: nowrap; border-right: 1px solid #424245; }

#footer .list_corp li a:hover { text-decoration: underline; }

#footer .list_corp .copyright { margin-right: 30px; margin-top: 5px; color: #86868b; border: none; }

main { overflow: hidden; }

.rfc_num { position: relative; display: inline-block; font-size: .6em; vertical-align: baseline; top: -0.5em; }

.sc_main_pdr .vod_wrap { height: 732px; }

@media (max-width: 1068px) { .sc_main_pdr .vod_wrap { height: 524px; } }

.sc_main_pdr video { top: 68px; display: block; max-width: 1400px; height: 420px; position: relative; left: 680px; margin-left: -700px; }

@media (max-width: 1068px) { .sc_main_pdr video { top: 44px; left: 468px; margin-left: -500px; display: block; width: 1000px; height: 300px; } }

.sc_main_pdr .main_title { margin-top: -200px; text-align: center; }

@media (max-width: 1068px) { .sc_main_pdr .main_title { margin-top: -114px; } }

.sc_main_pdr .main_title .title { font-size: 32px; line-height: 1.21875; font-weight: 600; letter-spacing: .004em; color: #f5f5f7; }

@media (max-width: 1068px) { .sc_main_pdr .main_title .title { line-height: 1.25; font-size: 28px; } }

.sc_main_pdr .main_title .sub_title { background: radial-gradient(#eff1ff, #000); background-size: 100% 200%; background-position: 50% 100%; background-clip: text; -webkit-background-clip: text; -webkit-text-fill-color: transparent; font-size: 96px; font-weight: 700; line-height: 1.14615; letter-spacing: 0em; margin-top: 16px; padding-bottom: 12px; }

@media (max-width: 1068px) { .sc_main_pdr .main_title .sub_title { line-height: 1.15; margin-top: 8px; font-size: 80px; } }

.sc_main_pdr .main_title .desc { max-width: 900px; font-size: 32px; line-height: 1.25; font-weight: 500; letter-spacing: .004em; color: #a1a1a6; margin: 10px auto 0; }

@media (max-width: 1068px) { .sc_main_pdr .main_title .desc { line-height: 1.39286; margin: 2px auto 0; font-size: 28px; } }

.sc_main_pdr .main_pdr_chip { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin: 42px 0 0 -20px; }

@media (max-width: 1068px) { .sc_main_pdr .main_pdr_chip { margin: 27px 0 0 -20px; } }

.sc_main_pdr .pdr_chip_picture { width: 96px; height: 96px; }

.sc_main_pdr .pdr_chip_text { font-size: 28px; line-height: 1.14286; font-weight: 500; color: #a1a1a6; letter-spacing: .007em; }

@media (max-width: 1068px) { .sc_main_pdr .pdr_chip_text { line-height: 1.2917; font-size: 24px; margin-top: 11px; margin-bottom: 0.4em; } }

.sc_main_pdr .main_pdr_box { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; max-width: 100%; margin-top: 32px; margin-bottom: 0.4em; }

@media (max-width: 1068px) { .sc_main_pdr .main_pdr_box { margin-top: 18px; } }

.sc_main_pdr .main_pdr_item { font-size: 28px; line-height: 1.14286; letter-spacing: .007em; }

.sc_main_pdr .main_pdr_item:first-child::after { content: "|"; display: inline-block; padding: 0 30px; }

.sc_main_pdr .main_pdr_item:last-child:hover { text-decoration: underline; }

@media (max-width: 1068px) { .sc_main_pdr .main_pdr_item { font-size: 24px; } }

.sc_main_chip { padding-top: 170px; }

.sc_main_chip .main_chip_picture { display: block; width: 169px; height: 79px; margin-bottom: 11px; }

.sc_main_chip .title { margin-top: 41px; }

@media (max-width: 1068px) { .sc_main_chip .title { margin-top: -3px; } }

.sc_main_chip .sub_title { font-size: 80px; line-height: 1.05; font-weight: 700; letter-spacing: -.015em; color: #f5f5f7; }

@media (max-width: 1068px) { .sc_main_chip .sub_title { line-height: 1.17188; font-size: 64px; } }

.sc_main_chip .desc-medium { max-width: 75%; -ms-flex-preferred-size: 75%; flex-basis: 75%; color: #a1a1a6; margin-top: 0.8em; }

@media (max-width: 1068px) { .sc_main_chip .desc-medium { -ms-flex-preferred-size: 91.66667%; flex-basis: 91.66667%; max-width: 91.66667%; } }

.sc_main_chip .vod_wrap { margin-top: -158px; }

@media (max-width: 1068px) { .sc_main_chip .vod_wrap { margin-top: -96px; margin-bottom: 75px; z-index: 3; } }

.sc_main_chip video { display: block; width: 1754px; height: 1056px; position: relative; left: 50%; margin-left: -877px; z-index: -1; }

@media (max-width: 1068px) { .sc_main_chip video { display: block; width: 1068px; height: 840px; margin-left: -534px; } }

.sc_parts { margin-top: -144px; }

.sc_parts .cpu_area { grid-column: span 12; overflow: hidden; background: -webkit-gradient(linear, left bottom, right top, from(#194189), color-stop(25%, #3B4980), to(#8738A7)); background: linear-gradient(to right top, #194189 0%, #3B4980 25%, #8738A7 100%); }

.sc_parts .cpu_area .typo_warp { max-width: 50%; padding-left: 40px; margin: 60px 0; z-index: 1; }

.sc_parts .cpu_area .headline-large { max-width: 600px; }

@media (max-width: 1068px) { .sc_parts .cpu_area .headline-large { max-width: 450px; } }

.sc_parts .cpu_area .desc-small { margin-top: 26px; max-width: 470px; }

@media (max-width: 1068px) { .sc_parts .cpu_area .desc-small { margin-top: 23px; max-width: 400px; } }

.sc_parts .cpu_area .title_point { color: #c48cfc; }

.sc_parts .cpu_area .cpu_picture { display: block; width: 696px; height: 553px; position: absolute; left: 50%; bottom: 28px; }

@media (max-width: 1068px) { .sc_parts .cpu_area .cpu_picture { width: 516px; height: 508px; left: calc((((100vw - 735px) / 333) * 120) + 384px); } }

.sc_parts .gpu_area { grid-column: span 12; }

.sc_parts .gpu_area .typo_wrap { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding-right: 40px; padding-left: 40px; margin: 60px 0; z-index: 1; }

@media (max-width: 1068px) { .sc_parts .gpu_area .typo_wrap { margin: 45px 0; } }

.sc_parts .gpu_area .headline-large { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; max-width: 580px; }

@media (max-width: 1068px) { .sc_parts .gpu_area .headline-large { max-width: 430px; } }

.sc_parts .gpu_area .desc-small { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; margin-left: 8.33333%; -ms-flex-preferred-size: 41.66667%; flex-basis: 41.66667%; max-width: 41.66667%; }

.sc_parts .gpu_area .title_point { color: #4693ad; }

.sc_parts .gpu_area .vod_wrap { width: 100%; height: 100%; position: absolute; z-index: 0; }

.sc_parts .gpu_area video { width: 100%; height: 100%; -o-object-fit: cover; object-fit: cover; }

.sc_parts .battery_area { grid-column: span 8; background: -webkit-gradient(linear, left top, left bottom, from(#203025), to(#151516)); background: linear-gradient(to bottom, #203025 0%, #151516 100%); }

@media (max-width: 1068px) { .sc_parts .battery_area { grid-column: span 6; } }

.sc_parts .battery_area .grid_center { margin-bottom: 65px; }

.sc_parts .battery_area .typo_area { -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; max-width: 620px; margin: 60px auto; text-align: center; z-index: 1; padding-bottom: 14px; }

@media (max-width: 1068px) { .sc_parts .battery_area .typo_area { padding-left: 40px; padding-right: 40px; margin: 45px auto; max-width: unset; } }

.sc_parts .efficiency_area { grid-column: span 4; background: linear-gradient(225deg, #1623A6 0%, #3343D4 29%, #175EAC 73%, #176682 100%); }

@media (max-width: 1068px) { .sc_parts .efficiency_area { grid-column: span 6; } }

.sc_parts .efficiency_area .typo_area { padding-left: 40px; padding-right: 40px; max-width: 100%; margin: 60px 0; z-index: 1; }

@media (max-width: 1068px) { .sc_parts .efficiency_area .typo_area { margin: 45px 0; } }

.sc_parts .efficiency_area .typo_point { color: rgba(255, 255, 255, 0.6); }

.sc_parts .efficiency_area .link_wrap { padding: 0 40px 40px 40px; }

.sc_parts .efficiency_area .link_efficiency { display: inline-block; background-color: transparent; border-width: 2px; border-style: solid; border-radius: 100px; padding: 9px 17px; font-weight: 600; white-space: normal; font-size: 17px; }

.sc_parts .learning_area { grid-column: span 12; background: -webkit-gradient(linear, left top, left bottom, from(#061420), to(#151516)); background: linear-gradient(to bottom, #061420 0%, #151516 100%); }

.sc_parts .learning_area .typo_wrap { margin-top: 60px; margin-bottom: 60px; margin-left: 50%; }

@media (max-width: 1068px) { .sc_parts .learning_area .typo_wrap { margin-top: 40px; margin-bottom: 40px; } }

.sc_parts .learning_area .desc-large { padding: 0 40px; }

@media (max-width: 1068px) { .sc_parts .learning_area .desc-large { letter-spacing: .007em; line-height: 1.25; } }

.sc_parts .learning_area .title_point { color: #a1a1a6; }

.sc_parts .learning_area .learning_picture { display: block; width: 696px; height: 553px; position: absolute; right: 50%; bottom: -249px; -webkit-transform: translateY(-50%); transform: translateY(-50%); }

@media (max-width: 1068px) { .sc_parts .learning_area .learning_picture { display: block; width: 516px; bottom: -226px; height: 507px; } }

.sc_parts .os_area { background-color: #000; background-image: radial-gradient(at 100% 0%, rgba(46, 110, 173, 0.99) 0px, transparent 50%), radial-gradient(at 92% 64%, rgba(11, 30, 80, 0.69) 0px, transparent 50%), radial-gradient(at 35% 0%, #0c215a 0px, transparent 50%), radial-gradient(at 0% 0%, #06061d 0px, transparent 50%), radial-gradient(at 76% 0%, #061232 0px, transparent 50%), radial-gradient(at 86% 47%, #0b0f32 0px, transparent 50%), radial-gradient(at 43% 59%, #0b0f32 0px, transparent 50%), radial-gradient(at 6% 100%, #311f47 0px, transparent 50%), radial-gradient(at 42% 100%, #06061d 0px, transparent 50%), radial-gradient(at 1% 53%, #0b0f32 0px, transparent 50%), radial-gradient(at 100% 100%, #0c133b 0px, transparent 50%), radial-gradient(at 63% 100%, #1e1335 0px, transparent 50%), radial-gradient(at 20% 100%, #1e1335 0px, transparent 50%); grid-column: span 12; }

.sc_parts .os_area .typo_wrap { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.sc_parts .os_area .typo_area { max-width: 50%; -ms-flex-preferred-size: 50%; flex-basis: 50%; margin: 60px 0; padding-left: 40px; }

@media (max-width: 1068px) { .sc_parts .os_area .typo_area { margin: 45px 0; } }

.sc_parts .os_area .headline-medium { max-width: 420px; }

@media (max-width: 1068px) { .sc_parts .os_area .headline-medium { max-width: 320px; } }

.sc_parts .os_area .desc-small { max-width: 470px; margin-top: 26px; }

@media (max-width: 1068px) { .sc_parts .os_area .desc-small { max-width: 400px; margin-top: 23px; } }

.sc_parts .os_area .os_picture { display: block; width: 696px; height: 553px; position: absolute; z-index: 1; left: 50%; bottom: 28px; }

@media (max-width: 1068px) { .sc_parts .os_area .os_picture { display: block; width: 592px; height: 469px; left: calc((((100vw - 735px) / 333) * 120) + 384px); } }

.sc_parts .animate_area { grid-column: span 6; background-color: #000; background-image: radial-gradient(at 82% 30%, rgba(20, 20, 57, 0.46) 0px, transparent 50%), radial-gradient(at 100% 66%, #29183f 0px, transparent 50%), radial-gradient(at 100% 0%, #161339 0px, transparent 50%), radial-gradient(at 35% 0%, #21163b 0px, transparent 50%), radial-gradient(at 47% 59%, rgba(65, 40, 77, 0.76) 0px, transparent 50%), radial-gradient(at 1% 2%, #3b244c 0px, transparent 50%), radial-gradient(at 75% 1%, #1a1439 0px, transparent 50%), radial-gradient(at 100% 0%, #191439 0px, transparent 50%), radial-gradient(at 0% 99%, #694e6e 0px, transparent 50%), radial-gradient(at 0% 64%, rgba(103, 80, 109, 0.57) 0px, transparent 50%), radial-gradient(at 0% 24%, #694e6e 0px, transparent 50%), radial-gradient(at 100% 100%, #553c5d 0px, transparent 50%), radial-gradient(at 72% 100%, #1e1335 0px, transparent 50%), radial-gradient(at 35% 100%, #1e1335 0px, transparent 50%); }

.sc_parts .animate_area .desc-small { margin-top: 0.77em; padding: 0px 40px; }

@media (max-width: 1068px) { .sc_parts .animate_area .desc-small { margin-top: 1em; } }

.sc_parts .animate_area .grid_bottom { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; }

.sc_parts .animate_area .bot_typo_area { text-align: center; padding-left: 0; padding-right: 0; margin-right: auto; margin-left: auto; margin-bottom: 74px; max-width: 420px; }

@media (max-width: 1068px) { .sc_parts .animate_area .bot_typo_area { max-width: 320px; } }

.sc_parts .animate_area .headline-large { margin-bottom: -14px; margin-top: 0.4em; }

@media (max-width: 1068px) { .sc_parts .animate_area .headline-large { margin-bottom: -11px; } }

.sc_parts .animate_area .title_point { margin-left: 25px; }

@media (max-width: 1068px) { .sc_parts .animate_area .title_point { margin-left: 20px; } }

.sc_parts .app_area { grid-column: span 6; background-color: #000; background-image: radial-gradient(at 82% 30%, rgba(20, 20, 57, 0.46) 0px, transparent 50%), radial-gradient(at 100% 66%, #29183e 0px, transparent 50%), radial-gradient(at 35% 0%, #0f1138 0px, transparent 50%), radial-gradient(at 100% 0%, #0f1138 0px, transparent 50%), radial-gradient(at 47% 59%, rgba(35, 20, 57, 0.77) 0px, transparent 50%), radial-gradient(at 1% 2%, #14143d 0px, transparent 50%), radial-gradient(at 74% 0%, rgba(18, 40, 104, 0.9) 0px, transparent 50%), radial-gradient(at 100% 0%, #071541 0px, transparent 50%), radial-gradient(at 0% 64%, rgba(41, 26, 60, 0.8) 0px, transparent 50%), radial-gradient(at 0% 99%, #51395b 0px, transparent 50%), radial-gradient(at 0% 24%, rgba(27, 18, 54, 0.87) 0px, transparent 50%), radial-gradient(at 100% 100%, #654d6f 0px, transparent 50%), radial-gradient(at 72% 100%, #1e1335 0px, transparent 50%), radial-gradient(at 35% 100%, #1e1335 0px, transparent 50%); }

.sc_parts .app_area .desc-small { margin-top: 0.77em; padding: 0 40px; }

@media (max-width: 1068px) { .sc_parts .app_area .desc-small { margin-top: 1em; } }

.sc_parts .app_area .grid_bottom { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; }

.sc_parts .app_area .app_picture { display: block; width: 481px; height: 388px; position: relative; left: 50%; margin-left: -240.5px; -webkit-transform: translate(-1px, 12px); transform: translate(-1px, 12px); margin-bottom: 74px; }

@media (max-width: 1068px) { .sc_parts .app_area .app_picture { width: 341px; margin-left: -170.5px; height: 274px; } }

.sc_parts .memory_area { grid-column: span 4; position: relative; }

@media (max-width: 1068px) { .sc_parts .memory_area { grid-column: span 6; } }

.sc_parts .memory_area .memory_inner { width: 100%; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); z-index: 1; }

.sc_parts .memory_area .content_wrap { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; margin: 11px 0 40px; }

.sc_parts .memory_area .desc-medium { padding: 0 40px; margin-top: 0; }

.sc_parts .memory_area .memory_picture { display: block; width: 65px; height: 67px; margin: 0 0 19px 40px; }

.sc_parts .memory_area .memory_bg_picture { width: 100%; height: 100%; position: absolute; z-index: 0; top: 0; left: 0; }

.sc_parts .storage_area { grid-column: span 4; background: -webkit-gradient(linear, left bottom, right top, from(#604C7C), color-stop(50%, #257983), to(#20825A)); background: linear-gradient(to right top, #604C7C 0%, #257983 50%, #20825A 100%); }

@media (max-width: 1068px) { .sc_parts .storage_area { grid-column: span 6; } }

.sc_parts .storage_area .content_wrap { text-align: center; width: 100%; margin: 10px 0 60px; }

.sc_parts .storage_area .value { font-size: 96px; line-height: 1.0625; font-weight: 700; padding-top: 4px; padding-bottom: 2px; }

.sc_parts .storage_area .sub_value { font-size: 64px; line-height: 1.0625; font-weight: 700; }

.sc_parts .storage_area .caption { width: 100%; position: relative; left: 0; -webkit-box-sizing: border-box; box-sizing: border-box; display: block; z-index: 1; font-size: 24px; font-weight: 500; }

.sc_parts .storage_area .desc-small { padding: 0 85px; margin-top: 32px; }

.sc_parts .security_area { grid-column: span 4; }

@media (max-width: 1068px) { .sc_parts .security_area { grid-column: span 12; } }

.sc_parts .security_area .content_warp { width: 100%; }

.sc_parts .security_area .privacy_btn_wrap { padding: 0 40px 40px 40px; margin: 0 auto; }

.sc_parts .security_area .privacy_btn { display: inline-block; text-align: center; font-size: 17px; line-height: 1.17648; min-width: 28px; color: #fff; border-width: 2px; border-style: solid; border-radius: 50px; padding: 9px 17px; font-weight: 600; white-space: normal; }

.sc_parts .security_area .headline-small { text-align: center; color: #a1a1a6; margin-top: 0.5em; }

.sc_parts .security_area .security_bg { background-repeat: no-repeat; background-image: url(./../images/security_large_2x.png); background-size: 800px 1152px; width: 100px; height: 128px; margin: 0 auto; }

.sc_retina { padding-top: 170px; }

.sc_retina .main_title .sc_title { margin-top: 41px; }

.sc_retina .main_title .desc-medium { max-width: 75%; margin-top: 0.8em; color: #a1a1a6; }

.sc_retina .retina_picture_wrap { position: relative; margin: 70px 0; }

.sc_retina .retina_picture_screen { display: block; width: 927px; height: 579px; left: 50%; margin-left: -463.5px; top: 43px; position: absolute; z-index: 1; }

.sc_retina .retina_picture_hdr { display: block; width: 1197px; height: 704px; position: relative; left: 50%; margin-left: -598.5px; }

.sc_retina .color_area { grid-column: span 12; position: relative; }

.sc_retina .color_area .headline-large { position: relative; max-width: 580px; padding-left: 40px; z-index: 1; }

.sc_retina .color_area .sub_typo { -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.sc_retina .color_area .sub_typo .value { font-size: 144px; line-height: 1.14615; font-weight: 700; letter-spacing: -.015em; display: block; }

.sc_retina .color_area .sub_typo .sub_value { font-size: 96px; }

.sc_retina .color_area .sub_typo .desc-medium { display: block; }

.sc_retina .color_area .color_picture { width: 100%; height: 100%; position: absolute; z-index: 0; top: 0; left: 0; }

.sc_retina .pixel_area { grid-column: span 6; background: #181725; }

.sc_retina .pixel_area .grid_content { margin-bottom: 74px; }

.sc_retina .pixel_area .pixel_content_wrap { -ms-flex-preferred-size: 100%; flex-basis: 100%; padding: 0 40px; }

.sc_retina .pixel_area .pixel_picture { display: block; width: 360px; height: 164px; position: relative; left: 50%; margin-left: -180px; margin-top: 19px; margin-bottom: 8px; }

.sc_retina .pixel_area .headline-large { text-align: center; }

.sc_retina .truetone_area { grid-column: span 6; }

.sc_retina .truetone_area .grid_content { margin: 70px 0 60px; padding-left: 40px; -ms-flex-preferred-size: 100%; flex-basis: 100%; }

.sc_retina .truetone_area .content_wrap { -ms-flex-preferred-size: 91.66667%; flex-basis: 91.66667%; max-width: 91.66667%; }

.sc_retina .truetone_area .desc-large .title_point { color: #a1a1a6; }

.sc_retina .truetone_area .truetone_picture { display: block; width: 292px; height: 292px; position: relative; left: 50%; margin-left: -146px; margin-top: 52px; }

.sc_retina .truetone_area .truetone_bg_picture { width: 100%; height: 100%; position: absolute; z-index: 0; top: 0; left: 0; }

.sc_camera .title { font-size: 80px; font-weight: 700; line-height: 1.15; letter-spacing: 0em; margin-top: 41px; color: #a1a1a6; }

.sc_camera .desc-medium { color: #a1a1b6; max-width: 75%; margin-top: 0.8em; margin-bottom: 3.75%; }

.sc_camera .grid_content { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; padding-left: 40px; }

.sc_camera .camera_picture_wrap { position: relative; margin-top: -65px; -webkit-transform: translateY(87px); transform: translateY(87px); }

.sc_camera .camera_picture_screen { display: block; width: 1075px; height: 322px; left: 50%; margin-left: -537.5px; top: 4.5%; position: absolute; z-index: 1; }

.sc_camera .camera_picture_hdr { display: block; width: 1146px; height: 601px; position: relative; left: 50%; margin-left: -573px; }

.sc_camera .facetime_area { grid-column: span 6; }

.sc_camera .facetime_area .desc-large { max-width: 83.33333%; margin-top: 61px; }

.sc_camera .facetime_area .facetime_picture { display: block; margin: 40px 19px 40px -14px; }

.sc_camera .mircophone_area { grid-column: span 6; }

.sc_camera .mircophone_area .headline-medium { z-index: 1; margin-top: 58px; max-width: 83.33333%; }

.sc_camera .mircophone_area .grid_content { padding-right: 40px; }

.sc_camera .mircophone_area .vod_wrap { width: 100%; height: 100%; }

.sc_camera .mircophone_area video { width: 100%; height: 100%; }

.sc_keyboard .grid { margin-top: -90px; }

.sc_keyboard .desc-medium { color: #A1A1A6; max-width: 75%; margin-top: 0.8em; }

.sc_keyboard .keyboard_picture { display: block; width: 1213px; height: 701px; position: relative; left: 50%; margin-left: -606.5px; margin-top: 70px; }

.sc_keyboard .scissor_area { grid-column: span 6; background: linear-gradient(215deg, #c52d47 0%, #a5325c 30%, #8b366d 100%); }

.sc_keyboard .scissor_area .desc-small { max-width: 480px; margin-top: 0.77em; }

.sc_keyboard .scissor_area .scissor_picture { position: absolute; display: block; width: 100%; height: 100%; top: 60%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); width: initial; height: initial; }

.sc_keyboard .trackpad_area { grid-column: span 6; }

.sc_keyboard .trackpad_area .typo_area { max-width: 58.33333%; margin-top: 58px; padding-left: 40px; z-index: 1; }

.sc_keyboard .trackpad_area .trackpad_picture { width: 100%; height: 100%; position: absolute; z-index: 0; top: 0; left: 0; }

.sc_keyboard .touchid_area { grid-column: span 12; background: linear-gradient(229deg, #517281 0%, #3b5d70 27%, #4d5c82 72%, #5d647f 100%); }

.sc_keyboard .touchid_area .grid { -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; width: 100%; margin-top: 62px; padding-left: 40px; -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; }

.sc_keyboard .touchid_area .typo_area { grid-column: span 6; }

.sc_keyboard .touchid_area .desc-large { max-width: 545px; padding-bottom: 30px; padding-right: 30px; }

.sc_keyboard .touchid_area .touchid_list { grid-column: span 5; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; width: 100%; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; max-width: 520px; }

.sc_keyboard .touchid_area .touchid_list li { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; max-width: 41.66667%; -ms-flex-preferred-size: 41.66667%; flex-basis: 41.66667%; margin-bottom: 90px; }

.sc_keyboard .touchid_area .touchid_list .desc { max-width: 200px; margin-top: 9px; font-size: 21px; line-height: 1.381; font-weight: 500; color: #fff; }

.sc_keyboard .touchid_area .unlock_picture { display: block; width: 82px; height: 82px; }

.sc_keyboard .touchid_area .appstore_picture { width: 87px; height: 75px; }

.sc_keyboard .touchid_area .protected_picture { display: block; width: 70px; height: 82px; }

.sc_keyboard .touchid_area .appletv_picture { display: block; width: 82px; height: 82px; }

.sc_connect .connect_picture { display: block; width: 3008px; height: 342px; position: relative; left: 50%; margin-left: -1504px; margin-top: 80px; margin-bottom: -160px; }

.sc_connect .desc-small { margin-top: 0.77em; letter-spacing: .012em; }

.sc_connect .wifi_area { grid-column: span 6; background-image: linear-gradient(30deg, #214079 1%, #663A7E 55%, #A82B7D 100%); }

.sc_connect .wifi_area .grid_content { padding: 135px 0 128px; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; text-align: center; }

.sc_connect .wifi_area .wifi_picture { display: block; width: 242px; height: 172px; margin: 0 auto 42px; }

.sc_connect .usb_area { grid-column: span 6; background-image: linear-gradient(201deg, #EF278E 0%, #81347F 47%, #43407A 100%); }

.sc_connect .usb_area .grid_content { -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; text-align: center; }

.sc_connect .usb_area .usb_list { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; width: 100%; padding: 135px 80px 128px; }

.sc_connect .usb_area .usb_item { -ms-flex-preferred-size: 41.66667%; flex-basis: 41.66667%; max-width: 41.66667%; }

.sc_connect .usb_area .usb_item:first-child { margin-bottom: 95px; }

.sc_connect .usb_area .usb_item:nth-child(2) { margin-bottom: 95px; margin-left: 16.66667%; }

.sc_connect .usb_area .usb_item:nth-child(4) { margin-left: 16.66667%; }

.sc_connect .usb_area .charging_picture { display: block; width: 84px; height: 84px; margin: 0 auto 10px; }

.sc_connect .usb_area .display_picture { display: block; width: 104px; height: 82px; margin: 0 auto 12px; }

.sc_connect .usb_area .transfer_picture { display: block; width: 64px; height: 78px; margin: 10px auto 14px; }

.sc_connect .usb_area .device_picture { display: block; width: 74px; height: 87px; margin: 0 auto 14px; }

.sc_ar { padding-top: 25px; background: #151516; overflow: hidden; margin-top: 145px; }

.sc_ar .group_ar { grid-column: span 12; background: #1d1d1f; min-height: 599px; }

.sc_ar .grid_item { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-orient: initial; -webkit-box-direction: initial; -ms-flex-direction: initial; flex-direction: initial; width: 100%; -webkit-box-sizing: border-box; box-sizing: border-box; }

.sc_ar .content_wrap { padding-bottom: 55px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -ms-flex-preferred-size: 41.66667%; flex-basis: 41.66667%; max-width: 41.66667%; margin-left: 8.3333%; }

.sc_ar .ar_picture { display: block; width: 54px; height: 62px; }

.sc_ar .headline-small { max-width: 400px; margin-top: 27px; font-weight: 600; }

.sc_ar .sub_title { max-width: 270px; font-size: 17px; font-weight: 600; margin-top: 0.8em; }

.sc_ar .colorpick_area { margin-top: 25px; margin-left: -4px; }

.sc_ar .colorpick_area li { display: inline-block; }

.sc_ar .item_wrap { -ms-flex-preferred-size: 41.66667%; flex-basis: 41.66667%; max-width: 41.66667%; }

.sc_ar .item_area { margin-left: 75px; position: relative; margin-top: 48px; display: block; width: 405px; height: 551px; }

.sc_ar .item_area picture { display: block; width: 405px; height: 551px; }

.sc_ar .item_space { position: absolute; top: 0; left: 0; z-index: 1; }

.sc_ar .item_sliver { position: absolute; top: 0; left: 0; z-index: 1; }

.sc_ar .item_gold { position: absolute; top: 0; left: 0; z-index: 1; }

.sc_compare { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; position: relative; padding-top: 25px; background: #151516; }

.sc_compare .grid { width: 928px; margin-bottom: 68px; }

.sc_compare .compare_wrap { width: 100%; max-width: 1340px; margin-left: 24px; margin-right: 24px; background: #1d1d1f; padding-left: 24px; padding-right: 24px; border-radius: 30px; -webkit-box-sizing: content-box; box-sizing: content-box; }

.sc_compare .headline-medium-large { max-width: 616px; text-align: center; margin: 67px auto 0; }

.sc_compare .link_more { color: #2997ff; margin-left: auto; margin-right: auto; margin-top: 43px; margin-bottom: 81px; display: block; text-align: center; font-size: 21px; font-weight: 400; }

.sc_compare .link_copy { margin-top: 8px; }

.sc_compare .compare_list { grid-column: span 3; }

.sc_compare .compare_list span { position: absolute; top: -17px; font-size: 12px; line-height: 1.33337; font-weight: 400; -webkit-box-sizing: border-box; box-sizing: border-box; white-space: nowrap; display: block; color: #bf4800; }

.sc_compare .compare_list h3 { position: relative; margin-top: 30px; font-size: 24px; font-weight: 600; line-height: 1.2917; letter-spacing: .009em; }

.sc_compare .compare_list .mbp16 { height: 52px; }

.sc_compare .compare_list .price { margin-top: 10px; font-size: 14px; font-weight: 400; line-height: 1.57143; }

.sc_compare .compare_list .item_info { margin-top: 35px; line-height: 1.57143; font-size: 14px; font-weight: 400; }

.sc_compare .compare_list .item_info p { height: 44px; }

.sc_compare .compare_list .item_chip { font-size: 14px; font-weight: 400; margin-top: 0.8em; }

.sc_compare .compare_list .item_feature { line-height: 1.57143; }

.sc_compare .compare_list .item_feature p { margin-top: 12px; color: #fff; }

.sc_compare .compare_list .link_buy { margin-top: 20px; }

.sc_compare .compare_list .link_more { font-size: 14px; font-weight: 400; }

.sc_compare .compare2_picture { display: block; width: 32px; height: 14px; margin-top: 18px; }

.sc_compare .compare3_picture { display: block; width: 50px; height: 14px; margin-top: 18px; }

.sc_compare .compare4_picture { display: block; width: 68px; height: 14px; margin-top: 18px; }

.sc_compare .mbam1_picture { display: block; width: 165px; height: 114px; }

.sc_compare .mbam2_picture { display: block; width: 163px; height: 114px; }

.sc_compare .mbp13_picture { display: block; width: 168px; height: 114px; }

.sc_compare .mbp16_picture { display: block; width: 213px; height: 114px; }

.sc_service { text-align: center; background: #151516; padding: 25px 0; }

.sc_service .grid_item { min-height: 600px; -webkit-box-align: center; -ms-flex-align: center; align-items: center; background: #1d1d1f; }

.sc_service .headline-small { margin-top: 12px; }

.sc_service .desc { font-size: 17px; font-weight: 400; margin-top: 0.8em; color: #fff; width: 86%; margin-left: auto; margin-right: auto; }

.sc_service .link_more { color: #2997ff; font-size: 17px; font-weight: 400; display: block; margin-top: 0.8em; }

.sc_service .macos_area { grid-column: span 6; min-height: 600px; -webkit-box-align: center; -ms-flex-align: center; align-items: center; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-line-pack: center; align-content: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; display: block; }

.sc_service .macos_area .macos_picture { display: block; width: 188px; height: 26px; position: relative; left: 50%; margin-left: -94px; margin-bottom: 11px; }

.sc_service .macos_area .macos_bg_picture { position: absolute; z-index: 0; display: block; width: 1390px; height: 600px; top: 0; }

.sc_service .macos_area .main_title { position: relative; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); z-index: 1; }

.sc_service .macos_area .main_title .link_more { color: #fff; font-size: 17px; font-weight: 400; display: block; margin-top: 0.8em; }

.sc_service .accessory_area { grid-column: span 6; min-height: 600px; -webkit-box-align: center; -ms-flex-align: center; align-items: center; min-height: 475px; }

.sc_service .accessory_area .accessory_picture { display: block; width: 682px; height: 342px; left: 50%; margin-left: -341px; position: absolute; bottom: 0; }

.sc_service .accessory_area .main_title { position: static; padding: 43px 40px 0 40px; margin-bottom: 36px; }

.sc_service .accessory_area .link_shop { cursor: pointer; display: inline-block; text-align: center; white-space: nowrap; font-size: 17px; line-height: 1.17648; font-weight: 400; letter-spacing: -.022em; font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif; min-width: 28px; padding: 8px 16px 8px 16px; margin-top: 8px; border-radius: 18px; background: #0071e3; color: #fff; }

.sc_service .continuity_area { grid-column: span 6; }

.sc_service .continuity_area .continuity_picture { display: block; width: 682px; height: 343px; left: 50%; margin-left: -341px; position: absolute; bottom: 0; }

.sc_service .continuity_area .main_title { position: static; padding: 43px 40px 0 40px; padding-bottom: 396px; }

.sc_service .elevated_area { grid-column: span 6; min-height: 570px; }

.sc_service .elevated_area .elevated_picture { display: block; width: 465px; height: 252px; left: 50%; margin-left: -232.5px; position: absolute; bottom: 0; }

.sc_service .elevated_area .main_title { position: static; padding: 43px 40px 0 40px; padding-bottom: 305px; }

.sc_service .elevated_area .main_title p:nth-child(3) { width: 86%; margin: 0 auto; font-size: 17px; font-weight: 400; margin-top: 0.8em; }

.sc_service .education_area { grid-column: span 6; }

.sc_service .education_area .education_picture { display: block; width: 682px; height: 600px; position: absolute; left: 50%; margin-left: -341px; top: 0; z-index: 0; }

.sc_service .education_area .main_title { width: 86%; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); z-index: 1; }

.sc_service .education_area .link_more { display: block; font-size: 17px; margin-top: 0.8em; color: #fff; }

.sc_service .business_area { grid-column: span 6; }

.sc_service .business_area .business_picture { display: block; width: 682px; height: 600px; position: absolute; left: 50%; margin-left: -341px; top: 0; z-index: 0; }

.sc_service .business_area .main_title { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); z-index: 1; color: #fff; }

.sc_service .business_area .desc { width: 100%; }

.sc_service .business_area .link_shop { display: block; margin-top: 0.8em; color: #fff; font-size: 17px; }

.sc_service .business_area .link_more { display: block; margin-top: 0.8em; color: #fff; font-size: 17px; }
