main{
    overflow: hidden;
}
.sc_main_pdr{
    .vod_wrap{
        width: 1400px;
        height: 732px;
    }
    video{
        top: 68px;
        display: block;
        width: 1400px;
        height: 420px;
        position: relative;
        left: 680px;
        margin-left: -700px;
    }

    .main_title{
        margin-top: -200px;
        text-align: center;
        .title{
            font-size: 32px;
            line-height: 1.125;
            font-weight: 600;
            letter-spacing: .004em;
            color: #f5f5f7;
        }
        .sub_title{
            background: radial-gradient(#eff1ff, #000);
            background-size: 100% 200%;
            background-position: 50% 100%;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: 96px;
            font-weight: 700;
            line-height: 1.04167;
            letter-spacing: -.015em;
            margin-top: 16px;
            padding-bottom: 12px;
        }
        .main_msg{
            max-width: 900px;
            font-size: 32px;
            line-height: 1.25;
            font-weight: 500;
            letter-spacing: .004em;
            color: #a1a1a6;
            margin: 10px auto 0;
        }
    }
    .main_pdr_chip{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 42px 0 0 -20px;
    }
    .pdr_chip_picture{
        width: 96px;
        height: 96px;
    }
    .pdr_chip_text{
        font-size: 28px;
        line-height: 1.14286;
        font-weight: 500;
        color: #a1a1a6;
        letter-spacing: .007em;
    }
    .main_pdr_list{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 100%;
        margin-top: 32px;
    }
    .main_pdr_item{
        font-size: 28px;
        line-height: 1.14286;
        letter-spacing: .007em; 
        &:first-child::after{
            content: "|";
            display: inline-block;
            padding: 0 30px;
        }   
    }
}
.sc_main_chip{
    padding-top: 170px;

    .main_chip_picture{
        display: block;
        width: 169px;
        height: 79px;
        margin-bottom: 11px;
    }
    .sub_title{
        font-size: 80px;
        line-height: 1.05;
        font-weight: 700;
        letter-spacing: -.015em;
        color: #f5f5f7;
    }
    .main_msg{
        width: 735px;
        font-size: 28px;
        line-height: 1.25;
        font-weight: 500;
        letter-spacing: .007em;
        color: #a1a1a6;
        margin-top: 0.8em;
    }
    .vod_wrap{
        display: block;
        width: 1754px;
        height: 1056px;
        position: relative;
        left: 50%;
        margin-left: -877px;
        margin-top: -158px;
        z-index: -1;
    }
}

.sc_parts{
    max-width: 1390px;
    margin: -144px auto 0;
    padding-left: 24px;
    padding-right: 24px;
    .title{
        font-size: 21px;
        line-height: 1.19048;
        font-weight: 600;
        letter-spacing: .011em;
        padding: 40px;
        padding-bottom: 0;
    }
    .text_area{
        padding-left: 40px;
        max-width: 50%;
        margin: 60px 0;
        z-index: 1;
    }
    .sub_title{
        font-size: 80px;
        line-height: 1.15;
        font-weight: 700;
        letter-spacing: -.015em;
    }
    .main_msg{
        font-size: 19px;
        line-height: 1.4211;
        font-weight: 600;
        letter-spacing: .012em;        
        margin-top: 26px;
    }

    .cpu_area{
        position: relative;
        min-height: 700px;
        border-radius: 30px;
        overflow: hidden;
        background: linear-gradient(to right top, #194189 0%, #3B4980 25%, #8738A7 100%);    
        .sub_title{
            max-width: 600px;
        }
        .main_msg{
            max-width: 470px;
        }
        .sc_cpu_picture{
            display: block;
            width: 696px;
            height: 553px;
            position: absolute;
            left: 50%;
            bottom: 28px;
        }
        .title_point{
            color: #c48cfc;
        }
    }

    .gpu_area{
        margin-top: 20px;
        position: relative;
        display: flex;
        flex-direction: column;
        z-index: 0;
        box-sizing: border-box;
        overflow: hidden;
        background-color: #151516;
        border-radius:30px;
        min-height: 700px;
        .title{
            z-index: 1;
        }
        .text_area{
            width: 100%;
            display: flex;
            flex-grow: 1;
            align-items: center;
            max-width: unset;
            padding-right: 40px;
            margin: 0;
            .title_box1{
                flex-basis: 50%;
                max-width: 580px;
            }
            .title_box2{
                flex-basis: 50%;
                width: 50%;
                margin-left: 8.33333%;
                flex-basis: 41.66667%;
                max-width: 41.66667%;
            }
        }
        .title_point{
            color: #4693ad;
        }
        .vod_wrap{
            position: absolute;
            z-index: 0;
        }
        video{
            width: 100%;
            height: 100%;
        }
    }

} // sc_parts

