main{
    overflow: hidden;
}
.sc_main_pdr{
    .vod_wrap{
        width: 1400px;
        height: 732px;
    }
    video{
        top: 68px;
        display: block;
        width: 1400px;
        height: 420px;
        position: relative;
        left: 680px;
        margin-left: -700px;
    }

    .main_title{
        margin-top: -200px;
        text-align: center;
        .title{
            font-size: 32px;
            line-height: 1.125;
            font-weight: 600;
            letter-spacing: .004em;
            color: #f5f5f7;
        }
        .sub_title{
            background: radial-gradient(#eff1ff, #000);
            background-size: 100% 200%;
            background-position: 50% 100%;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: 96px;
            font-weight: 700;
            line-height: 1.04167;
            letter-spacing: -.015em;
            margin-top: 16px;
            padding-bottom: 12px;
        }
        .desc{
            max-width: 900px;
            font-size: 32px;
            line-height: 1.25;
            font-weight: 500;
            letter-spacing: .004em;
            color: #a1a1a6;
            margin: 10px auto 0;
        }
    }
    .main_pdr_chip{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 42px 0 0 -20px;
    }
    .pdr_chip_picture{
        width: 96px;
        height: 96px;
    }
    .pdr_chip_text{
        font-size: 28px;
        line-height: 1.14286;
        font-weight: 500;
        color: #a1a1a6;
        letter-spacing: .007em;
    }
    .main_pdr_list{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 100%;
        margin-top: 32px;
    }
    .main_pdr_item{
        font-size: 28px;
        line-height: 1.14286;
        letter-spacing: .007em; 
        &:first-child::after{
            content: "|";
            display: inline-block;
            padding: 0 30px;
        }   
    }
} // sc_main_pdr 


.sc_main_chip{
    padding-top: 170px;

    .main_chip_picture{
        display: block;
        width: 169px;
        height: 79px;
        margin-bottom: 11px;
    }
    .sub_title{
        font-size: 80px;
        line-height: 1.05;
        font-weight: 700;
        letter-spacing: -.015em;
        color: #f5f5f7;
    }
    .desc{
        width: 735px;
        font-size: 28px;
        line-height: 1.25;
        font-weight: 500;
        letter-spacing: .007em;
        color: #a1a1a6;
        margin-top: 0.8em;
    }
    .vod_wrap{
        display: block;
        width: 1754px;
        height: 1056px;
        position: relative;
        left: 50%;
        margin-left: -877px;
        margin-top: -158px;
        z-index: -1;
    }
}

.grid{
    max-width: 1390px;
    margin-left: auto;
    margin-right: auto;
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    // padding-left: 24px;
    // padding-right: 24px;
    padding-top: 0;
    padding-bottom: 0;
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
}

.area_title{
    font-size: 21px;
    line-height: 1.19048;
    font-weight: 600;
    box-sizing: border-box;
    padding: 40px;
    padding-bottom: 0;
    z-index: 1;
    flex-basis: 0;
}

.grid_content{
    flex-grow: 1;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.grid_item{
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 0;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #151516;
    border-radius:30px;
    min-height: 700px;
}
.grid_center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.sc_parts{
    margin: -144px auto 0;

    .main_typo{
        font-size: 80px;
        line-height: 1.15;
        font-weight: 700;
        letter-spacing: -.015em;
    }
    .sub_typo{
        font-size: 19px;
        line-height: 1.4211;
        font-weight: 600;
        letter-spacing: .012em;        
        margin-top: 26px;
    }
    
    .cpu_area{
        grid-column: span 12;
        overflow: hidden;
        background: linear-gradient(to right top, #194189 0%, #3B4980 25%, #8738A7 100%);    
        .typo_warp{
            padding-left: 40px;
            margin: 60px 0;
            z-index: 1;
        }
        .main_typo{
            max-width: 600px;
        }
        .sub_typo{
            max-width: 470px;
        }
        .title_point{
            color: #c48cfc;
        }
        .cpu_picture{
            display: block;
            width: 696px;
            height: 553px;
            position: absolute;
            left: 50%;
            bottom: 28px;
        }
    }

    .gpu_area{
        grid-column: span 12;

        .typo_wrap{
            width: 100%;
            display: flex;
            flex-grow: 1;
            align-items: center;
            max-width: unset;
            padding-right: 40px;
            padding-left: 40px;
            margin: 60px 0;
            z-index: 1;
            .main_typo1{
                flex-basis: 50%;
                max-width: 580px;
            }
            .main_typo2{
                flex-basis: 50%;
                width: 50%;
                margin-left: 8.33333%;
                flex-basis: 41.66667%;
                max-width: 41.66667%;
            }
        }
        .title_point{
            color: #4693ad;
        }
        .vod_wrap{
            position: absolute;
            z-index: 0;
        }
        video{
            width: 100%;
            height: 100%;
        }
    }

    .battery_area{
        grid-column: span 8;
        background: linear-gradient(to bottom, #203025 0%, #151516 100%);

        .typo_area{
            justify-content: flex-start;
            max-width: 630px;
            margin: 0 auto;
            margin-bottom: 65px;
            text-align: center;
            z-index: 1;
        }
    }

    .efficiency_area{
        grid-column: span 4;
        background: linear-gradient(225deg, #1623A6 0%, #3343D4 29%, #175EAC 73%, #176682 100%);
        .typo_area{
            padding-left: 0;
            // max-width: 50%;
            margin: 60px 0;
            z-index: 1;
        }
        .typo_point{
            color: rgba(255,255,255,0.6)
        }
        .link_wrap{
            padding: 0 40px 40px 40px;
        }
        .link_efficiency{
            display: inline-block;
            background-color: transparent;
            border-width: 2px;
            border-style: solid;
            border-radius: 100px;
            padding: 9px 17px;
            font-weight: 600;
            white-space: normal;
            font-size: 17px;
        }
    }
    .learning_area{
        grid-column: span 12;
        background: linear-gradient(to bottom, #061420 0%, #151516 100%);
        .typo_wrap{
            margin-top: 60px;
            margin-bottom: 60px;
            margin-left: 50%;
        }
        .main_typo{
            padding: 0 40px;
            font-size: 32px;
            line-height: 1.21875;
            font-weight: 600;
            letter-spacing: .004em;
        }
        .title_point{
            color: #a1a1a6;
        }
        .learning_picture{
            display: block;
            width: 696px;
            height: 553px;
            position: absolute;
            right: 50%;
            bottom: -249px;
            transform: translateY(-50%); 
        }
    }
    .os_area{
        background-color: #000;
        background-image: radial-gradient(at 100% 0%, rgba(46,110,173,0.99) 0px, transparent 50%),radial-gradient(at 92% 64%, rgba(11,30,80,0.69) 0px, transparent 50%),radial-gradient(at 35% 0%, #0c215a 0px, transparent 50%),radial-gradient(at 0% 0%, #06061d 0px, transparent 50%),radial-gradient(at 76% 0%, #061232 0px, transparent 50%),radial-gradient(at 86% 47%, #0b0f32 0px, transparent 50%),radial-gradient(at 43% 59%, #0b0f32 0px, transparent 50%),radial-gradient(at 6% 100%, #311f47 0px, transparent 50%),radial-gradient(at 42% 100%, #06061d 0px, transparent 50%),radial-gradient(at 1% 53%, #0b0f32 0px, transparent 50%),radial-gradient(at 100% 100%, #0c133b 0px, transparent 50%),radial-gradient(at 63% 100%, #1e1335 0px, transparent 50%),radial-gradient(at 20% 100%, #1e1335 0px, transparent 50%);
        grid-column: span 12;
        .typo_wrap{
            display: flex;
            flex-grow: 1;
            justify-content: flex-start;
            align-items: center;
        }
        .typo_area{
            max-width: 50%;
            flex-basis: 50%;
            margin: 60px 0;
            padding-left: 40px;
        }
        .main_typo{
            max-width: 420px;
            font-size: 56px;
            line-height: 1.07143;
            font-weight: 700;
            letter-spacing: -.028em;
        }
        .sub_typo{
            max-width: 470px;
        }
        .os_picture{
            display: block;
            width: 696px;
            height: 553px;
            position: absolute;
            z-index: 1;
            left: 50%;
            bottom: 28px;
        }
    }

    .animate_area{
        grid-column: span 6;
        background-color: #000;
        background-image: radial-gradient(at 82% 30%, rgba(20,20,57,0.46) 0px, transparent 50%),radial-gradient(at 100% 66%, #29183f 0px, transparent 50%),radial-gradient(at 100% 0%, #161339 0px, transparent 50%),radial-gradient(at 35% 0%, #21163b 0px, transparent 50%),radial-gradient(at 47% 59%, rgba(65,40,77,0.76) 0px, transparent 50%),radial-gradient(at 1% 2%, #3b244c 0px, transparent 50%),radial-gradient(at 75% 1%, #1a1439 0px, transparent 50%),radial-gradient(at 100% 0%, #191439 0px, transparent 50%),radial-gradient(at 0% 99%, #694e6e 0px, transparent 50%),radial-gradient(at 0% 64%, rgba(103,80,109,0.57) 0px, transparent 50%),radial-gradient(at 0% 24%, #694e6e 0px, transparent 50%),radial-gradient(at 100% 100%, #553c5d 0px, transparent 50%),radial-gradient(at 72% 100%, #1e1335 0px, transparent 50%),radial-gradient(at 35% 100%, #1e1335 0px, transparent 50%);
        .typo_area{
            padding: 0 40px;
        }
        .sub_typo{
            margin-top: 0.77em;
        }
        .grid_bottom{
            display: flex;
            align-items: flex-end;
            justify-content: flex-start;
            flex-grow: 1;
        }
        .bot_typo_area{
            text-align: center;
            padding-left: 0;
            padding-right: 0;
            margin-right: auto;
            margin-left: auto;
            margin-bottom: 74px;
            max-width: 420px;
        }

    }
    .app_area{
        grid-column: span 6;
        background-color: #000;
        background-image: radial-gradient(at 82% 30%, rgba(20,20,57,0.46) 0px, transparent 50%),radial-gradient(at 100% 66%, #29183e 0px, transparent 50%),radial-gradient(at 35% 0%, #0f1138 0px, transparent 50%),radial-gradient(at 100% 0%, #0f1138 0px, transparent 50%),radial-gradient(at 47% 59%, rgba(35,20,57,0.77) 0px, transparent 50%),radial-gradient(at 1% 2%, #14143d 0px, transparent 50%),radial-gradient(at 74% 0%, rgba(18,40,104,0.9) 0px, transparent 50%),radial-gradient(at 100% 0%, #071541 0px, transparent 50%),radial-gradient(at 0% 64%, rgba(41,26,60,0.8) 0px, transparent 50%),radial-gradient(at 0% 99%, #51395b 0px, transparent 50%),radial-gradient(at 0% 24%, rgba(27,18,54,0.87) 0px, transparent 50%),radial-gradient(at 100% 100%, #654d6f 0px, transparent 50%),radial-gradient(at 72% 100%, #1e1335 0px, transparent 50%),radial-gradient(at 35% 100%, #1e1335 0px, transparent 50%);
        .typo_area{
            padding: 0 40px;
        }
        .sub_typo{
            margin-top: 0.77em;
        }
        .grid_bottom{
            display: flex;
            align-items: flex-end;
            justify-content: flex-start;
            flex-grow: 1;
        }
        .app_picture{
            display: block;
            width: 481px;
            height: 388px;
            position: relative;
            left: 50%;
            margin-left: -240.5px;
            transform: translate(-1px, 12px);
            margin-bottom: 74px;
        }
    }

    .memory_area{
        grid-column: span 4;
        .gird_content{
            z-index: 1;
        }
        .content_wrap{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin: 11px 0 40px;
            z-index: 1;
        }
        .memory_area_bg_picture{
            position: absolute;
            z-index: 0;
            top: 0;
            left: 0;
        }
    }
    .storage_area{
        grid-column: span 4;
        background: linear-gradient(to right top, #604C7C 0%, #257983 50%, #20825A 100%);
        .content_wrap{
            text-align: center;
            padding-left: 0;
            padding-right: 0;
            width: 100%;
            margin: 10px 0 60px;
        }
    }
    .security_area{
        grid-column: span 4;
    }

}
 
.sc_retina{
    padding-top: 170px;
    .title{
        font-size: 80px;
        line-height: 1.125;
        font-weight: 700;
        letter-spacing: .004em;
        color: #f5f5f7;
        margin-top:41px;
    }
    .title_point{
        color: #a1a1a6;
    }
    .sub_title{
        max-width: 75%;
        font-size: 28px;
        line-height: 1.14286;
        font-weight: 500;
        letter-spacing: .007em;
        margin-top: 0.8em;
        color: #a1a1a6;
    }
    .retina_picture_wrap{
        position: relative;
        margin:70px 0;
    }
    .retina_picture_screen{
        display: block;
        width: 927px;
        height: 579px;
        left: 50%;
        margin-left: -463.5px;
        top: 43px;
        position: absolute;
        z-index: 1;
    }
    .hdr_box{
        display: block;
        width: 1197px;
        height: 704px;
        position: relative;
        left: 50%;
        margin-left: -598.5px;
    }

    .color_area{
        grid-column: span 12;
        position: relative;

        .typo_area {
            position: relative;
            max-width: 580px;
            font-size: 80px;
            font-weight: 700;
            line-height: 1.15;
            padding-left: 40px;
            z-index: 1;
        }
        .sub_typo{
            flex-grow: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            .value{
                font-size: 144px;
                line-height: 1.14615;
                font-weight: 700;
                letter-spacing: -.015em;
                display: block;
            }
            .sub_value{
                font-size: 96px;
            }
            .desc{
                display: block;
                font-size: 28px;
                font-weight: 500;
            }
        }
        .color_picture{
            position: absolute;
            z-index: 0;
            top: 0;
            left: 0;
        }
        
    } // color_area

    .pixel_area{
        grid-column: span 6;
        background: #181725;
        .grid_content{
            margin-bottom: 74px;
        }
        .pixel_content_wrap{
            flex-basis:100%;
        }
        .pixel_picture{
            display: block;
            width: 360px;
            height: 164px;
            position: relative;
            left: 50%;
            margin-left: -180px;
            margin-top: 19px;
            margin-bottom: 8px;
        }
        .desc{
            font-size: 80px;
            line-height: 1.05;
            font-weight: 700;
            text-align: center;
        }
    } // pixel_area


    .truetone_area{
        grid-column: span 6;
        .grid_content{
            align-items: initial;
        }
        .typo_area{
            margin: 70px 0 60px;
            padding: 0 40px;
            flex-basis: 100%;
            .typo_area{
                font-size: 32px;
                line-height: 1.21875;
                font-weight: 600;
            }
            span{
                color: #a1a1a6;
            }
        }

        .truetone_picture{
            display: block;
            width: 292px;
            height: 292px;
            position: relative;
            left: 50%;
            margin-left: -146px;
            margin-top: 52px;
        }
        .truetone_bg_picture{
            position: absolute;
            z-index: 0;
            top: 0;
            left: 0;
        }

    }
} // sc_retina

.sc_camera{
    .title{
        font-size: 80px;
        font-weight: 700;
        line-height: 1.15;
        margin-top: 41px;
        color: #a1a1a6;
    }
    .desc{
        font-size: 28px;
        font-weight: 500;
        color: #a1a1b6;
        line-height: 1.25;
        max-width: 75%;
        margin-top: 0.8em;
        margin-bottom: 3.75%;
    }
    .sub_title{
        font-size: 80px;
        font-weight: 700;
        line-height: 1.15;
    }
    .grid_content{
        flex-direction: column;
        margin-left: 40px;
    }

    .camera_picture_wrap{  
        position: relative;
        margin-top: -65px;
        transform: translateY(87px);
    }
    .camera_picture_screen{
        display: block;
        width: 1075px;
        height: 322px;
        left: 50%;
        margin-left: -537.5px;
        top: 4.5%;
        position: absolute;
        z-index: 1;
    }
    .camera_hdr_wrap{
        display: block;
        width: 1146px;
        height: 601px;
        position: relative;
        left: 50%;
        margin-left: -573px;
    }
    .facetime_area{
        grid-column: span 6;
        .main_typo{
            max-width: 83.33333%;
            margin-top: 61px;
            line-height: 1.21875;
            font-size: 32px;
            font-weight: 600;
            letter-spacing: .004em;
        }
        .facetime_picture{
            display: block;
            margin: 40px 19px 40px -14px;
        }
    }
    .mircophone_area{
        grid-column: span 6;
        .main_typo{
            z-index: 1;
            margin-top: 58px;
            max-width: 83.33333%;
            font-size: 56px;
            font-weight: 700;
            line-height: 1.2;
        }
        .vod_wrap{
            padding-right: 40px;
        }

    }
} // sc_camera

.sc_keyboard{
    .grid{
        margin-top: -90px;
    }
    .title{
        font-size: 80px;
        font-weight: 700;
        line-height: 1.15;
        margin-top: 41px; 
        color: #a1a1b6;
    }
    .sub_title{
        font-size: 80px;
        font-weight: 700;
        line-height: 1.15;
    }
    .desc{
        font-size: 28px;
        font-weight: 500;
        letter-spacing: .007em;
        line-height: 1.25;
        color: #a1a1b6;
        max-width: 75%;
        margin-top: 0.8em;
    }
    .keyboard_picture_wrap{
        display: block;
        width: 1213px;
        height: 701px;
        position: relative;
        left: 50%;
        margin-left: -606.5px;
        margin-top: 70px;
    }
    .scissor_area{
        grid-column: span 6;
        background: linear-gradient(215deg, #c52d47 0%, #a5325c 30%, #8b366d 100%);
        .sub_typo{
            max-width: 480px;
            font-size: 19px;
            font-weight: 600;
            line-height: 1.52632;
            margin-top: 0.77em;
        }
        .scissor_picture{
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;
            top: 60%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: initial;
            height: initial;
        }
    }
    .trackpad_area{
        grid-column: span 6; 
        .typo_area{
            max-width: 58.33333%;
            margin-top: 58px;
            padding-left: 40px;
            z-index: 1;
        }
        .main_typo{
            font-size: 56px;
            font-weight: 700;
            line-height: 1.2;
        }
        .trackpad_picture{
            position: absolute;
            z-index: 0;
            top: 0;
            left: 0;
        }

    }
    .touchid_area{
        grid-column: span 12;
        background: linear-gradient(229deg, #517281 0%, #3b5d70 27%, #4d5c82 72%, #5d647f 100%);
        .grid{
            margin-top:62px;
            padding-left: 40px;
        }
        .typo_area{
            grid-column: span 6;
        }

        .touchid_list{
            grid-column: span 5;
        }
    }

} // sc_keyboard

.sc_connect{
    .title{
        font-size: 80px;
        font-weight: 700;
        color: #a1a1a6;
        margin-top: 41px;
        line-height: 1.15;
    }
    .sub_title{
        font-size: 80px;
        font-weight: 700;
        line-height: 1.15;
    }
    .connect_picture_wrap{
        display: block;
        width: 3008px;
        height: 342px;
        position: relative;
        left: 50%;
        margin-left: -1504px;
        margin-top: 80px;
        margin-bottom: -160px;
    }

    .sub_typo{
        max-width: 450px;
        line-height: 1.5263;
        font-size: 19px;
        font-weight: 600;
        margin-top: 0.77em;
    }

    .wifi_area{
        grid-column: span 6;
        background-image: linear-gradient(30deg, #214079 1%, #663A7E 55%, #A82B7D 100%);
        .grid_content{
            padding: 135px 0 128px;
            justify-content: center;
            text-align: center;
        }
        .wifi_picture{
            display: block;
            width: 242px;
            height: 172px;
            margin: 0 auto 42px;
        }
    }

    .usb_area{
        grid-column: span 6;
        background-image: linear-gradient(201deg, #EF278E 0%, #81347F 47%, #43407A 100%);
        
        .grid_content{
            justify-content: center;
            text-align: center;
        }
        .usb_list{
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            width: 100%;
            padding: 135px 80px 128px;
        }
        .usb_item{
            flex-basis: 41.66667%;
            max-width: 41.66667%;
            .desc{
                line-height: 1.2858;
                font-size: 21px;
                font-weight: 600;
            }
        }
        .usb_item:first-child{
            margin-bottom: 95px;
        }
        .usb_item:nth-child(2){
            margin-bottom: 95px;
            margin-left: 16.66667%;
        }
        .usb_item:nth-child(4){
            margin-left: 16.66667%;
        }

        .charging_picture{
            display: block;
            width: 84px;
            height: 84px;
            margin: 0 auto 10px;
        }
        .display_picture{
            display: block;
            width: 104px;
            height: 82px;
            margin: 0 auto 12px;
        }
        .transfer_picture{
            display: block;
            width: 64px;
            height: 78px;
            margin: 10px auto 14px;
        }
        .connect_picture{
            display: block;
            width: 74px;
            height: 87px;
            margin: 0 auto 14px;
        }
    }

} // sc_connect